body, body *
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: beige;
}

body > header
{
  background-color: black;
  color: lightgrey;
  text-align: right;
}

nav a, nav a:active, nav a:visited
{
  color: crimson;
}

main, aside
{
  background-color: white;
  border: 1px gray solid;
  color: black;
  padding: 1%;
  margin: 1%;
}

aside 
{
  text-align: center;
}

body > footer 
{
  margin-top: 1in;
  border-top: 1px dashed black;
  width: 100%;
  text-align: center;
  color: gray;
  bottom: 0px;
}







.queue tr, .queue td, .queue th
{
  padding: 1%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.queue tr:nth-of-type(even), .queue tr:nth-of-type(even) td { 
  background: BlanchedAlmond ; 
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.queue table
{
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}




@media 
only screen and (max-width: 760px),
(min-device-width: 320px) and (max-device-width: 1024px)  
{
  .queue tr, .queue td, .queue thead, .queue tbody, .queue th
  {
    display: block;
  }

  .queue tr
  {
    margin-bottom: 6%;
  }
}	
