<!DOCTYPE html>
<html data-layout-decorator="layout">
<head>
	<title data-th-text='#{queue.title}'>Queue.</title>
</head>
<body>
<main data-layout-fragment="main">
	<article class='queue'>
		<table>
			<tr>
				<th data-th-text='#{queue.header.id}'>#</th>
				<th data-th-text='#{queue.header.machine}'>Machine.</th>
				<th data-th-text='#{queue.header.client}'>Client.</th>
				<th data-th-text='#{queue.header.whenissued}'>Issued at.</th>
				<th data-th-text='#{queue.header.whenlocks}'>Locks at.</th>
				<th data-th-text='#{queue.header.whenunlocks}'>Unlocks at.</th>
				<th data-th-text='#{queue.header.duration}'>Duration.</th>
			</tr>
			<tr data-th-each='request : ${requests}'>
				<td data-th-text="${request.get('id')}">1</td>
				<td data-th-text="${request.get('machine_id')}">1</td>
				<td ><a target='_blank' data-th-href="${request.get('link')}" data-th-text="${request.get('name')}">Vasya Pupkin</a></td>
				<td data-th-text="${request.get('occured_at')}">Today.</td>
				<td data-th-text="${request.get('effective_at')}">Today.</td>
				<td data-th-text="${request.get('finishes_at')}">Today.</td>
				<td data-th-text="${request.get('reservation_duration')}">30 minutes.</td>
			</tr>
		</table>
	</article>
</main>
</body>
</html>
