<!DOCTYPE html>
<html data-layout-decorator="layout">
<head>
	<title data-th-text='#{index.title}'>About.</title>
</head>
<body>
	<main data-layout-fragment="main">
		<article>
			<header><h2 data-th-text='#{index.header}'>About the service.</h2></header>
			<p data-th-text='#{index.p0}'>The service which page you are currently viewing allows to make a reservation for washing machine in the dormitory.</p>
			<p data-th-text='#{index.p1}'>Use navigation links on the top of the page to use the service.</p>
			<p data-th-text='#{index.p2}'>A Facebook account is required to authenticate to the service and make a reservation.</p>
		</article>
	</main>
</body>
</html>
