<!DOCTYPE html>
<html>
<head>
	<title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE" >Washing scheduler application.</title>
	<link rel="stylesheet" type="text/css" media="all" 
          href="../../css/layout.css" data-th-href="@{/css/layout.css}" />
</head>
<body>
	<header>
		<h1>Washing scheduler.</h1>
	</header>
	<nav>
		<a data-th-href='@{/about}' href='/about' >About.</a>
		<a data-th-href='@{/requests/create}' href='/requests/create'>Make reservation.</a>
		<a data-th-href='@{/requests/queue}' href='/requests/queue'>Show queue.</a>
	</nav>
	<aside layout:fragment="aside">
		<form data-th-action='@{/sessions/create/FACEBOOK}' method='POST'  data-th-if='${session.id == null}' >
			<input type='submit' value='Log in.'/>
		</form>
		<form data-th-action='@{/sessions/destroy}' method='POST' data-th-if='${session.id != null}' >
			<input type='submit' value='Log out.'/>
		</form>
	</aside>
	<main layout:fragment="main" >
		Some random text here.
	</main>
	<footer>
		<p>Vladyslav Bondarenko</p>
		<p>wbondarenko@programmer.net</p>
		<p>2016</p>
	</footer>
</body>
</html>
